@import "colors.css";

window {
    border: none;
    background-color: #000000;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: @text;
    font-weight: bold;
    background-color: @br_bg;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
	border: 2px solid transparent;
}

#input:focus {
    color: @br_text;
    background-color: @br_bg;
}

#inner-box {
    margin: 4px;
    border: none;
    color: @text;
    font-weight: bold;
    background-color: @bg;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: @bg;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img:selected {
    background-color: @br_bg;
    border: none;
}

#text:selected {
    color: @br_text;
	font-weight: bold;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: @br_bg;
}

#entry {
    padding: 4px 16px;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: @br_bg;
}
