/* Global styles */
* {
    border: none;
    font-family: "Hack Nerd Font";
    font-weight: bold;
    font-size: 16px;
    margin-top: -1px;
    margin-bottom: -1px;
}

/* Waybar Styles */
window#waybar {
    background: black;
    color: #b9b9b9;
}

/* Tooltip */
tooltip {
    background: #000;
    border-radius: 16px;
}

tooltip label {
    color: #b9b9b9;
}

/*modules-left*/
#custom-lock_screen {
    margin-left: 10px;
    margin-right: 10px;
}

#custom-power_btn {
    margin-right: 10px;
    margin-left: 8px;
}

#custom-cpu_percent {
    margin-left: 10px;
}

/*modules-center*/
#custom-theme_switcher {
    padding: 0px 6px;
    margin: 3px 2px;
    border-radius: 16px;
    color: #b9b9b9;
    background-color: #b9b9b9;
}

#workspaces {
    background: #000;
    margin: 2px 18px 3px 1px;
    padding: 0px 2px;
}

#workspaces button {
    padding: 0px 6px;
    margin: 3px 2px;
    border-radius: 16px;
    color: #b9b9b9;
    background-color: #b9b9b9;
    transition: all 0.1s linear;
}

#workspaces button.active {
    color: #e0e0e0;
    background: #e0e0e0;
    min-width: 30px;
    transition: all 0.1s linear;
    opacity:1.0;
}

/*modules-right*/
#pulseaudio,
#temperature,
#battery,
#memory,
#backlight,
#tray,
#language {
    padding: 0 6px;
    margin: 0 3px;
}

#custom-music_player {
    margin-right: 16px;
}

#temperature.critical {
    color: #9c6c83;
}
