/* Global styles */
* {
    border: none;
    font-family: "Hack Nerd Font";
    font-weight: bold;
    font-size: 16px;
    margin-top: -1px;
    margin-bottom: -1px;
}

/* Waybar Styles */
window#waybar {
    background: #000;
    color: #b9b9b9;
}

/* Tooltip */
tooltip {
    background: #000;
    border-radius: 16px;
}

tooltip label {
    color: #b9b9b9;
}

/*modules-left*/
#custom-power_btn,
#custom-lock_screen,
#custom-cpu_percent {
    padding: 0 6px;
    margin: 0 3px;
}

/*modules-center*/

#idle_inhibitor,
#workspaces,
#clock {
    padding: 0 3px;
    margin: 0 3px;
}

#idle_inhibitor {
    margin-right: 6px;
}

#workspaces button {
    padding: 0px 6px;
    margin: 3px 2px;
    min-width: 20px;
    border-radius: 16px;
    color: #b9b9b9;
    background-color: #b9b9b9;
    transition: all 0.1s linear;
}

#workspaces button.active {
    color: #e0e0e0;
    background: #e0e0e0;
    min-width: 36px;
    transition: all 0.1s linear;
    opacity:1.0;
}

/*modules-right*/
#custom-music_player,
#pulseaudio,
#bluetooth,
#temperature,
#battery,
#memory,
#backlight,
#tray,
#language {
    padding: 0 6px;
    margin: 0 3px;
}

#language {
    margin-right: 0px;
}

#temperature.critical {
    color: #9c6c83;
}

#privacy {
	margin: 0px 4px;
	margin-right: 0px;
}

#privacy-item {
	margin: 0px 4px;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 4px 8px;
}
