@import "colors.css";

/* GLOBAL SETTINGS */

* {
	font-family: "Hack Nerd Font";
	font-weight: bold;
	font-size: 16px;
}

/* BASE WIDGETS */

.secondary-text {
	color: @fg;
    font-size: 14px;
}

.styled-slider {
	margin-left: -12px;
	margin-right: -12px;
}

.styled-slider trough {
  background-color: @br_bg;
  background-image: none;
  border-radius: 8px;
  min-height: 16px;
}

.styled-slider trough highlight {
	border: none;
	background-color: @fg;
	border-radius: 8px;
	background-image: none;
	min-height: 10px;
	min-width: 16px;
}

.styled-slider trough slider {
	border: none;
	background: transparent;
}

.styled-button {
	border: 0px solid transparent;
	border-radius: 15px;
	background-color: @br1_bg;
	background-image: none;
	transition: all 0.1s linear;
}

.styled-button:hover {
	background-color: @br2_bg;
}

.styled-button:active {
	background-color: @br3_bg;
}

.styled-label {
	color: @fg;
}

.styled-text-icon {
	color: @fg;
	font-size: 24;
	margin: 12px;
}

.status-button-active,
.left-status-button-active,
.right-status-button-active {
	border-radius: 15px;
}

.status-button-inactive,
.left-status-button-inactive,
.right-status-button-inactive {
	border: 0px solid transparent;
	border-radius: 128px;
	background-color: @br1_bg;
	background-image: none;
	transition: all 0.1s linear;
}

.status-button-inactive:hover,
.left-status-button-inactive:hover,
.right-status-button-inactive:hover {
	background-color: @br2_bg;
	transition: all 0.1s linear;
}

.status-button-inactive:active,
.left-status-button-inactive:active,
.right-status-button-inactive:active {
	background-color: @br3_bg;
	transition: all 0.1s linear;
}

.left-status-button-inactive,
.left-status-button-inactive:hover,
.left-status-button-inactive:active {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 53px;
}

.right-status-button-inactive,
.right-status-button-inactive:hover,
.right-status-button-inactive:active {
	min-width: 40px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.status-button-icon-inactive,
.status-button-left-icon-inactive,
.status-button-label-inactive,
.status-button-right-icon-inactive,
.status-button-sublabel-inactive {
	color: @fg;
}

.status-button-active,
.left-status-button-active,
.right-status-button-active {
	border: 0px solid transparent;
	background-color: @fg;
	background-image: none;
	transition: all 0.1s linear;
}

.status-button-active:hover,
.left-status-button-active:hover,
.right-status-button-active:hover {
	background-color: @dr_fg;
}

.status-button-active:active,
.left-status-button-active:active,
.right-status-button-active:active {
	background-color: @dr1_fg;
}

.left-status-button-active,
.left-status-button-active:hover,
.left-status-button-active:active {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 53px;
}

.right-status-button-active,
.right-status-button-active:hover,
.right-status-button-active:active {
	min-width: 40px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.status-button-icon-active,
.status-button-right-icon-active {
	color: @bg;
}

.status-button-right-icon-active,
.status-button-right-icon-inactive,
.status-button-icon-active,
.status-button-icon-inactive {
	font-size: 24px;
}

.status-button-icon-active,
.status-button-icon-inactive {
	margin-left: 16px;
}

.status-button-label-inactive,
.status-button-label-active {
	margin-left: 60px;
	margin-bottom: 18px;
}

.status-button-sublabel-inactive,
.status-button-sublabel-active {
	margin-left: 60px;
	margin-top: 18px;
	font-weight: normal;
	font-size: 12;
}

/* SPECIALIZED WIDGETS */

.smenu-buttons-row {
	margin-bottom: 16px;
	min-height: 50px;
}

.bluetooth-button,
.caffeine-button,
.screenshot-button,
.wallpaper-button {
	margin-left: 8px;
}

.wifi-button,
.focus-button,
.pavucontrol-button,
.theme-button {
	margin-right: 8px;
}

.paused-button,
.playing-button {
	border: 0px solid transparent;
	background-color: @fg;
	background-image: none;
	color: @fg;
	margin: -4px;
	border-radius: 100%;
	transition: all 0.1s linear;
}

.paused-button:hover,
.playing-button:hover {
	background-color: @dr_fg;
}

.paused-button:active,
.playing-button:active {
	background-color: @dr1_fg;
}

.play-pause-icon {
	font-size: 32;
	color: @bg;
}

.media-control-box {
	margin-top: 60px;
}

.media-control-buttons {
	margin-bottom: 19px;
}

/* WINDOW ELEMENTS */

.brightness-icon,
.speaker-icon,
.mic-icon {
	margin-left: 16px;
	color: @br_bg;
}

.power-label,
.audio-settings-label,
.screenshot-label,
.screen-lock-label {
	color: @fg;
}

.track-title {
	color: @br_fg;
    font-size: 24px;
}

.track-artist {
	color: @fg;
	font-weight: normal;
    font-size: 14px;
}

.track-elapsed-text {
	color: @fg;
    font-size: 12px;
}

.track-length-text {
	color: @fg;
    font-size: 12px;
}

/* WINDOWS */

.notification-center,
.status-menu {
	border: 2px solid;
	border-color: @accent;
	background-color: @bg;
	border-radius: 15px;
	padding: 20px;
}

.media-control {
	border: 2px solid;
	border-color: @accent;
	background-color: @bg;
	border-radius: 15px;
	padding: 20 20 00 20px;
}

/* ACTIVATE LINUX */

.activate-linux {
	color: rgba(250, 250, 250, 0.5);
}

.activate-linux-header {
    font-size: 24px;
	font-weight: normal;
	font-family: "Segoe"
}

.activate-linux-text {
    font-size: 18px;
	font-weight: normal;
	font-family: "Segoe"
}

.activate-linux.background {
	background: none;
}
